<div class="container">
  <div class="col creategame">
    <form #createbgform="ngForm" (submit) = createNewBoardgame(BoardGameCreate)>
      <p>Title</p>
      <input type="text" 
      name="title" 
      required
      [(ngModel)]="BoardGameCreate.title"
      #title="ngModel"
      />
      <div class="error" *ngIf="!title.valid && (title.touched)">Title is required!</div>  
      <br><br>
      <p><textarea rows="4" cols="50" 
      name="description" 
      required
      maxlength="200"
      [(ngModel)]="BoardGameCreate.description"
      #description ="ngModel"></textarea></p>
      <div class="error" *ngIf="!description.valid && (description.touched)">Description is required!</div>
      <p>Price</p>
      <input type="number"
      name="price"
      required
      [(ngModel)]="BoardGameCreate.price"
      #price ="ngModel"/>
      <div class="error" *ngIf="!price.valid && (price.touched)">Price is required!</div> 
      <br><br>
      <p>Location</p> 
      <p><input type="text"
      name="location"
      required
      [(ngModel)]="BoardGameCreate.location"
      #location="ngModel"/></p>
      <div class="error" *ngIf="!location.valid && (location.touched)">Location is required!</div>
      <p>Condition</p>
      <p><select
        name="BoardGameCreate.condition"
        [(ngModel)]="BoardGameCreate.condition">
          <option value="Used">Used</option>
          <option value="Like New">Like New</option>
          <option value="New">New</option>
      </select>
      </p>
      <input type="submit"[disabled]="!createbgform.form.valid">  
    </form>
  </div>
</div>