<app-allboardgames></app-allboardgames>
  <!-- <div class="container">
    <textarea rows="2" cols="75" class="search" [(ngModel)]="searchText" placeholder="Search..."></textarea>
    <br>
    <h2>Welcome {{user_info?.first_name}}</h2> -->
      <!-- <div [ngStyle]="{
        'background-color': 'grey'}"> -->
      <!-- <div class="game" *ngFor="let games of allGames | filter:'title':searchText">
        <div class="row">
          <div class="col">
              <h2>{{games.title}}</h2>
              <p>{{games.description}}</p>
              <p>Condition: {{games.condition}}</p>
          </div> 
          <div class="col">
            <h2>{{games.price}}</h2>
            <p>{{games.location}}</p>
            <p *ngIf="(games._user) === (session)">
            <button>Delete</button></p>
            <p *ngIf="games._user != session">
              <button>Placeholder</button>
            </p>
          </div>
        </div>
      </div>
    </div> -->
<router-outlet></router-outlet>
