<div class="container-fluid">
    <div class="row justify-content-center">
        <h2 class="bgoftheday">Popular Board Games!</h2>
    </div>
    <div class="row">
        <div class="col" *ngFor="let game of games">
            <div *ngIf="game.rank < 5">
                <a routerLink="/popular/{{game.gameId}}">
                    <div class="badge">
                        {{game?.rank}}. {{game?.name}} 
                        <p><img class="game_pic" src="{{game.thumbnail}}"></p>
                        <p>Published: {{game?.yearPublished}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
        <br><br>
    <div class="col forms">
        <div class= "row">
            <div class="col-md-6 justify-content-center">
                <div class="col-2-sm register">
                    <form #registerform="ngForm" (submit) = onSubmit(UserReg)>
                        <div class="form-group row my-2">
                            <label for="email_reg" class="col-sm-4 col-form-label text-right">Email</label>
                            <div class="col-sm-8">         
                                <input type="text" 
                                name="UserReg.email" required [(ngModel)]="UserReg.email" #email ="ngModel" class="col-md-12"/>
                                <div class="error"*ngIf="!email.valid && email.touched">Email is not valid!</div> 
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="first_name" class="col-sm-4 col-form-label text-right">First Name</label>
                            <div class="col-sm-8"> 
                                <input type="text" name="UserReg.first_name" [(ngModel)]="UserReg.first_name" required minlength="2" #firstname ="ngModel" class="col-md-12"/>
                                <div class="error"*ngIf="!firstname.valid && firstname.touched">First name must contain 2 characters!</div>
                            </div>                            
                        </div>
                        <div class="form-group row my-2">
                            <label for="last_name" class="col-sm-4 col-form-label text-right">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" name="UserReg.last_name" [(ngModel)]="UserReg.last_name"  required minlength="2" #lastname="ngModel" class="col-md-12"/>
                                <div class="error"*ngIf="!lastname.valid && lastname.touched">Last name must contain 2 characters!</div>
                            </div>
                        </div>   
                        <div class="form-group row my-2">
                            <label for="password_reg" class="col-sm-4 col-form-label text-right">Password</label>
                            <div class="col-sm-8"> 
                                <input type="password" name="UserReg.password" [(ngModel)]="UserReg.password" #passwordreg="ngModel" required minlength="8" class="col-md-12"/>
                                <div class="error"*ngIf="!passwordreg.valid && passwordreg.touched">Password must contain at least 8 characters!</div>  
                            </div>   
                        </div>   
                        <div class="form-group row my-2">
                            <label for="pw_confirm" class="col-sm-4 col-form-label text-right">Password Confirmation</label>
                            <div class="col-sm-8"> 
                                <input type="password" name="UserReg.password_confirm" [(ngModel)]="UserReg.password_confirm" class="col-md-12" #passwordconfirm="ngModel"/>
                                <div class="error" *ngIf="UserReg.password != UserReg.password_confirm">Passwords do not match!</div>
                            </div>
                        </div>
                        <div class="row justify-content-end my-2">
                            <div class="col-sm-3 mr-3">
                                <input type="submit"[disabled]="!registerform.form.valid" class="btn btn-success" value="Register">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 justify-content-center"> 
                <div class="col-2-sm login">     
                    <form #loginform = "ngForm" (submit) = onLogin(UserLog)>
                        <div class="form-group row my-2"> 
                            <label for="email_reg" class="col-sm-4 col-form-label text-right">Email</label>
                            <div class="col-sm-8">                   
                                <input type="email" name="UserLog.email" [(ngModel)]="UserLog.email" required #logemail="ngModel" class="col-md-12">
                                <div class="error"*ngIf="!logemail.valid && logemail.touched">You need to enter an email!</div>
                            </div>
                        </div>     
                        <div class="form-group row my-2"> 
                            <label for="password_reg" class="col-sm-4 col-form-label text-right">Password</label>
                            <div class="col-sm-8"> 
                                <input type="password" name="UserLog.password" [(ngModel)]="UserLog.password" #passwordlog="ngModel"required class="col-md-12">
                                <div class="error" *ngIf="!passwordlog.valid &&passwordlog.touched">You need to enter a password!</div>
                                <div class="error" *ngIf="LogError">{{LogError}}</div>
                            </div>
                        </div>
                        <div class="row justify-content-end my-2">
                            <div class="col-sm-3 mr-3">
                                <input class="btn btn-primary" type="submit" [disabled] ="!loginform.form.valid" value="Login">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
