<textarea rows="2" cols="75" class="search" [(ngModel)]="searchText" placeholder="Search for a Game!"></textarea>
<br>
<h1>Welcome {{user_info?.first_name}}</h1>
<app-boardgame 
*ngFor="let game of games| filter:'title':searchText" 
[game]="game" 
[session]="session"
(gameDeleted)="getGames()"></app-boardgame>
<!-- [session] = attribute from @input in boardgame component-->
<!-- "session" = variable containing session information from allboardgames -->
<!-- [session] = "session" : bound atrribute session to session variable from allboardgames -->